.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


ul {
  list-style: none;
  justify-content: center;
  padding: 0;
}

li {
  margin: 0 20px;
}

a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 18px;
}

a:hover {
  text-decoration: underline;
}

/* src/Navbar.css */


nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3498db;
  padding: 10px;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 350px; /* Set the desired width for your logo */
  height: auto;
  margin-right: 10px;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin: 0 20px;
}
/* Increase text height (line height) for links */
a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.5; /* Adjust the line height value as needed */
}
/* Align links to the right side */
.nav-links {
  margin-left: auto;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
